{% extends "layout.html" %}
{% block content %}
<style>
.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-section{
	background: #f4f4f4;
	min-width: 500px;
	padding: 30px;
}
</style>
<div class="wrapper">
		<div class="content-section">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">{{ legend }}</legend>
						<div class="form-group">
							{{ form.title.label(class="form-control-label")}}
							{%if form.title.errors%}
								{{ form.title(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.title.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.title(class="form-control form-control-lg")}}
							{%endif%}
						</div>
						<div class="form-group">
							{{ form.content.label(class="form-control-label")}}
							{%if form.content.errors%}
								{{ form.content(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.content.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.content(class="form-control form-control-lg")}}
							{%endif%}
						</div>
						<div class="form-group">
							{{ form.kategories.label(class="form-control-label")}}
							{%if form.kategories.errors%}
								{{ form.kategories(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.kategories.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.kategories(class="form-control form-control-lg")}}
							{%endif%}
						</div>
						<div class="form-group">
							{{ form.stek.label(class="form-control-label")}}
							{%if form.stek.errors%}
								{{ form.stek(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.stek.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.stek(class="form-control form-control-lg")}}
							{%endif%}
						</div>
						<div class="form-group">
							{{ form.connected_apps.label(class="form-control-label")}}
							{%if form.connected_apps.errors%}
								{{ form.connected_apps(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.connected_apps.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.connected_apps(class="form-control form-control-lg")}}
							{%endif%}
						</div>
						<div class="form-group">
							{{ form.contributers.label(class="form-control-label")}}
							{%if form.contributers.errors%}
								{{ form.contributers(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.contributers.errors%}
										<span>{{error}}
										</span>
									{%endfor%}
								</div>
							{%else%}
								{{ form.contributers(class="form-control form-control-lg")}}
							{%endif%}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info")}}
					</div>
				</form>
			</div>
</div>
{% endblock content %}