{% extends "layout.html" %}
{% block content %}
<style>
	nav{
		display: none;
	}
</style>
	<div class="wrapper">
		<div class="img_bg">
				<img src="../static/profile_pic/w264h2641393885391130.png" alt="">
			
			<div class="text">
				<h2>Делитесь своими проектами, и пользуйтесь уже готовыми решениями! </h2>
				<a href="{{ url_for('register') }}">Присоединиться</a>
			</div>
		</div>
		<div class="content">
				<form method="POST" action="" class="form_block">
						{{ form.hidden_tag() }}
						<fieldset class="form-group">
							<h4>Вход</h4>
							<div class="form">
								{{ form.email.label(class="form-control-label")}}
								{%if form.email.errors%}
									{{ form.email(class="")}}
									<div class="invalid-feedback">
										{% for error in form.email.errors%}
											<span>{{error}}
											</span>
										{%endfor%}
									</div>
								{%else%}
									{{ form.email(class="form-control form-control-lg")}}
								{%endif%}
							</div>
							<div class="form-group">
								{{ form.password.label(class="form-control-label")}}
								{%if form.password.errors%}
									{{ form.password(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.password.errors%}
											<span>{{error}}
											</span>
										{%endfor%}
									</div>
								{%else%}
									{{ form.password(class="form-control form-control-lg")}}
								{%endif%}
							</div>
							<div class="form-check">
								{{ form.remember(class="form-check-input")}}
								{{ form.remember.label(class="form-check-label")}}
							</div>
						</fieldset>
						<div class="form-group">
							{{ form.submit(class="btn btn-outline-info")}}
						</div>
						<div class="reg">
								<small>
									Нет аккаунта? <a class="reg_btn" href="{{ url_for('register') }}">Регистрация</a>
								</small>
									
							</div>
					</form>
					
		</div>
		
	</div>
	<script>
		window.onload = function(){
			document.querySelector('.wrapper').classList.add('wrapper_show')
		}
	</script>
{% endblock content %}